# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.series'
name: 'Series'
type: 'tree-sitter'
parser: 'tree-sitter-series'
fileTypes: [
  'series'
]
scopes:
    'name0': 'entity.name.type.class'
    'name2': 'keyword'
    'name1': 'entity.name.function'
    'iso': 'constant.language'
    'date_description': 'comment'
    'comment_not_date': 'string.unquoted'
    'any_comment': 'string.unquoted'

folds: [{
   type: 'block'
   # end:
   #     type: 'n'
   #     index: -1
}]
